.four-images{
    margin-top: 8px;
    width: 215px;
    height: 120px;
    background-position: left;
    transition: transform 1s, filter 1s ease-in-out;
    transform-origin: center center;
    filter: brightness(75%);
}
.four-images:hover{
    filter: brightness(100%);
    transform: scale(1.3);

}