.topFixedBanner {
    background-image: url("../image/riad.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.topBannerOverlay {
    position: absolute;
    min-height: 500px;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.topContent {
    margin-top: 12rem;

}

.topTitle {
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 48px;

}

.topSubTitle {
    font-family: "Releway", sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 24px;

}

.serviceMainTitle {
    color: #0073E6;
    margin: 5rem;

    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 800;
}

.serviceName {
    margin-top: 1rem;
    font-family: 'Releway', sans-serif;
    font-size: 22px;
    font-weight: 600;
}

.serviceDescription {
    color: #2B2B2B;
    margin-top: 1rem;
    font-family: 'Releway', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.serviceCard {
    margin: 5px 5px 5px 5px;
    height: 28rem;
    padding: 60px 30px 60px 30px;
    box-shadow: 0 0 4px rgba(0, 115, 230, 0.2);

}

.serviceCard:hover {
    box-shadow: 0 0 8px rgba(0, 115, 230, 0.2);
}

.navTitle {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff !important;
    font-weight: 800;
    font-size: 24px;
}

.navTitleScroll {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #0073E6 !important;
    font-weight: 800;
    font-size: 24px;
}

.navBackground {
    -webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
    background-color: rgba(00, 00, 00, 00) !important;
}

.navBackgroundScroll {
    -webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
    background-color: #dfe5e0;
    box-shadow: 0 0 6px 0 rgba(0, 115, 230, 0.3);
}

.navItem {
    font-size: 14px;
    text-decoration: none !important;
    font-family: 'Montserrat', sans-serif;
    mso-font-width: 400%;
    color: #ffffff;

}

.navItemScroll {
    font-size: 14px;
    text-decoration: none !important;
    font-family: 'Montserrat', sans-serif;
    mso-font-width: 400%;
    color: #2B2B2B !important;
}

.des {
    font-weight: 400;
    color: #2B2B2B;
    font-family: 'Releway', sans-serif;
    font-size: 16px;
}

.summarySection {
    margin-top: 5rem;
}

.summaryBanner {
    background-image: url("../image/riad1.jpg");
    min-height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.summaryBannerOverlay {
    position: absolute;
    min-height: 350px;
    width: 100%;
    background: rgba(0, 0, 0, 0.6)
}

.countNumber {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 600;
    margin-top: 28%;
}

.countTitle {
    color: #ffffff;
    font-family: 'Releway', sans-serif;
    font-size: 22px;
    font-weight: 600;

}


.cardTitle {
    font-weight: 600;
    font-size: 22px;
    font-family: 'Releway', sans-serif;
    color: #2B2B2B;
}

.cartSubTitle {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #2B2B2B;
}

.iconBullet {
    color: #0a53be;
    font-size: 16px;
}

.workCard {
    margin-top: 12%;
    padding: 30px 30px 30px 30px;
    border-radius: 4px;
}

.projectCard {
    border-radius: 2px;
    border: none !important;
    margin: 5px 5px 5px 5px;
    box-shadow: 0 0 4px rgba(0, 115, 230, 0.2);
}

.projectCard:hover {

    box-shadow: 0 0 8px rgba(0, 115, 230, 0.2);
}

.projectCardTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;

}

.projectCardDes {
    font-family: 'Releway', sans-serif;
    font-size: 15px;
    font-weight: 400;


}

.buttonCentering {
    width: 40%;
    margin-left: 30%;
    margin-right: 25%;
}

.courseImage {
    width: 100%;
}


.courseTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.courseDes {
    font-family: 'Releway', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.courseDetails {
    text-decoration: none;
    font-family: 'Releway', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-right: 100%;
}

.videoCard {
    box-shadow: 0 0 8px rgba(0, 115, 230, 0.2);
    padding: 10rem 5rem 10rem 5rem;
    background-color: #ffffff;
    margin: 50px auto;
}

.playBtn {
    color: #0a53be;
    font-size: 48px;
    cursor: pointer;

}

.videoTitle {
    color: #0073E6;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 600;

}

.videoDes {
    font-family: 'Releway', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.circleImg {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border: 1px solid #0d4e8c;
    border-radius: 50%;
}

.footerSection {
    margin-top: 5rem;
    box-shadow: 0 0 8px rgba(0, 115, 230, 0.2);


}

.socialLink {
    text-decoration: none;
    color: #0073E6;
    font-family: 'Releway', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.socialLink:hover {
    text-decoration: none;
    color: #2B2B2B;

}

.footerLink {
    color: #2B2B2B;
    text-decoration: none;
    font-family: 'Releway', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.footerLink:hover {
    color: #0b0bcc;
    text-decoration: none;

}

.copyrightSection {
    padding: 20px 20px 20px 20px;
    background-color: #052a49;
}

.copyrightLink {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.copyrightLink:hover {
    color: #2B2B2B;
    text-decoration: none;

}

.topFixedPage {
    background-image: url("../image/riad.jpg");
    min-height: 280px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.topPageOverlay {
    position: absolute;
    min-height: 280px;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.topPageContent {
    margin-top: 8rem;
}

.topPageContentCourse {
    margin-top: 6rem;
}

.courseFullTitle {
    color: white;
    font-family: "Releway", sans-serif;
    font-size: 28px;
    font-weight: 600;
}

.courseSubTitle {
    color: white;
    font-family: "Releway", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.courseDescription {
    color: white;
    font-family: "Releway", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.pageTitle {
    font-family: "Releway", sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 28px;

}

.form-control:focus {

    border-radius: 2px !important;
    bottom: initial !important;
    box-shadow: 0 0 8px rgba(0, 115, 230, 0.2) !important;
}

.linkStyle {
    color: white !important;
    text-decoration: none !important;

}

.linkStyle:hover {
    color: white !important;
    text-decoration: none !important;
}